{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

<main id="site-main" class="site-main">

        <header class="article-header gh-canvas">
        </header>

        <section class="gh-content portfolio--section-container">

            <h1 class="article-title portfolio--h1-title">{{title}}</h1>
            {{content}}

        </section>

<section id="main-slider">
	<div class="ptf--container">
      <figure>
          <img src="{{img_url @custom.author_profile_image size="s"}}" alt="Edwin Cáceres" class="ptf--main-image">
      </figure>
	</div>
</section>
<section class="color--container">
  <div class="ptf--container">
  <p class="ptf-paragraph">I've been working for the last 5 years with many companies and agencies to create the best digital products. 
    I'm very emphatic, naturally curious, and always learning new things to deliver to my clients. Here
    a few services in which I could help you.</p>
  </div>
</section>
<section>
	<div class="ptf--container flex ">
		<article class="skill--container">
			<figure >
				<img src="https://edwinwebsite.s3.amazonaws.com/ecommerce-skill.svg">
			</figure>
			<h3 class="ptf-h3-title">Ecommerce and Project Management</h3>
          <p class="skill--text-service">I help you to build your strategy and decide with stack is suitable according to your needs</p>
          <h4>Things I build:</h4>
          <p class="skill--list-build-things">Websites from scratch and backend integrations</p>
          <h4>Ecommerce Tools</h4>
          <ul>
            <li><span>Shopify (God Level)</span></li>
             <li>Vtex</li>
             <li>Facebook Ads</li>
             <li>Seo</li>
             <li>Design Thinking</li>
            <li>Scrum</li>
            <li>Lean Startup</li>
          	</ul>
		</article>
		<article class="skill--container">
			<figure>
				<img src="https://edwinwebsite.s3.amazonaws.com/webdev.svg">
			</figure>
			<h3 class="ptf-h3-title">Front-end Developer</h3>
            <p class="skill--text-service">I help to bring your idea to become real and growth your business</p>
          <h4>Languages I speak:</h4>
          <p class="skill--list-build-things">Javascript | CSS3 | HTML5 | Liquid</p>
			<h4>Dev Tools</h4>
          	<ul>
				<li>ReactJs</li>
				<li>NodeJs</li>
              	<li>API Rest</li>
				<li>Responsive Design</li>
              	<li>Boostrap</li>
				<li>Github</li>
				<li>Terminal</li>
				<li>Jira</li>
          	</ul>
		</article >
		<article class="skill--container">
			<figure>
				<img src="https://edwinwebsite.s3.amazonaws.com/commerce.svg">
			</figure>
			<h3 class="ptf-h3-title">Analytics</h3>
            <p class="skill--text-service">Nowadays, all business decisions you make must rely on data</p>
          <h4>Things I build:</h4>
          <p class="skill--list-build-things">Customized tracking events, sales funnel and dashboards</p>
          <h4>Analytics Tool</h4>
          <ul>
			<li>Google Analytics</li>
             <li>Google Tag Manager</li>
			<li>Google Search Console</li>
			<li>Google Data Studio</li>
			<li>Facebook Pixel</li>
			<li>Hotjar</li>
          	</ul>
		</article>
	</div>
</section>


<section id="work">
	<div class="ptf--container">
		<h2 class="ptf-h2-title">My Recent Work</h2>
		<p class="ptf-paragraph">Here are a few projects I've worked recently, click if you want to see more</p>
	</div>

<div class="ptf--container ptf-grid works">

<article class="works--container">
      <figure class="works--container-info">
        <img class="works--container-img" src="//cdn.shopify.com/s/files/1/0544/0743/0319/files/fit_market_peru_1024x.png?v=1642393148">
      <figcaption class="works--customer-info">
      <p class="works--customer-title">Fit Market Perú</p>
       <p>Online store of snacks for diabetic people</p>
        <ul class="works--container-tools">
          <li>Javascript </li>
         
          <li> CSS3 </li>
         
          <li> HTML5 </li>
         
          <li> Liquid </li>
         
        </ul>
        <a href="https://fitmarketperu.com/" target="_blank"><button class="works--btn">See More</button></a>
      </figcaption>
      </figure>
    </article>
    
<article class="works--container">
      <figure class="works--container-info">
        <img class="works--container-img" src="//cdn.shopify.com/s/files/1/0544/0743/0319/files/entre_lanas_62ffef03-6a30-4ea5-8fb6-5b477b60e3e2_1024x.png?v=1642393139">
      <figcaption class="works--customer-info">
      <p class="works--customer-title">Entre Lanas</p>
       <p>Online store of knitting and crochet products</p>
        <ul class="works--container-tools">
          <li>Javascript </li>
         
          <li> CSS3 </li>
         
          <li> HTML5 </li>
         
          <li> Liquid </li>
         
        </ul>
        <a href="https://entrelanas.pe/" target="_blank"><button class="works--btn">See More</button></a>
      </figcaption>
      </figure>
    </article>
    
<article class="works--container">
      <figure class="works--container-info">
        <img class="works--container-img" src="//cdn.shopify.com/s/files/1/0544/0743/0319/files/image_404_1024x.png?v=1642393132">
      <figcaption class="works--customer-info">
      <p class="works--customer-title">Donna Cattiva</p>
       <p>Fashion retailer of shoes and clothes for women</p>
        <ul class="works--container-tools">
          <li>Javascript </li>
         
          <li> CSS3 </li>
         
          <li> HTML5 </li>
         
          <li> Liquid </li>
         
        </ul>
        <a href="https://donnacattiva.shop/" target="_blank"><button class="works--btn">See More</button></a>
      </figcaption>
      </figure>
    </article>
    
<article class="works--container">
      <figure class="works--container-info">
        <img class="works--container-img" src="//cdn.shopify.com/s/files/1/0544/0743/0319/files/Screen_Shot_2022-01-16_at_23.18.12_1024x.png?v=1642393121">
      <figcaption class="works--customer-info">
      <p class="works--customer-title">VetPet Box</p>
       <p>Online store for pet care</p>
        <ul class="works--container-tools">
          <li>Javascript </li>
         
          <li> CSS3 </li>
         
          <li> HTML5 </li>
         
          <li> Liquid </li>
         
        </ul>
        <a href="https://vetpetbox.com/" target="_blank"><button class="works--btn">See More</button></a>
      </figcaption>
      </figure>
    </article>
    

</div>
</section>


<section>
	<div class="ptf--container">
		<h2 class="ptf-h2-title">I've also worked with some awesome companies:</h2>
	</div>
	<div class="ptf--container ptf-grid logos">
		<picture>
			<img src="https://edwinwebsite.s3.amazonaws.com/pvea_logo.svg" class="partner--company">
		</picture>
		<picture>
			<img src="https://edwinwebsite.s3.amazonaws.com/entel_logo.svg" class="partner--company">
		</picture>
		<picture>
			<img src="https://edwinwebsite.s3.amazonaws.com/Globant_Logo.webp" class="partner--company">
		</picture>
      <picture>
		  <img src="https://edwinwebsite.s3.amazonaws.com/sdc_logo.svg" class="partner--company">
		</picture>
	</div>
</section>

<section class="color--container" style="top:170px;" id="contact">
  <div class="ptf--container">
    <h2 class="ptf-h2-title">Let's talk</h2>
  <p class="ptf-paragraph">You can arrange a free 30 minutes call to see what you need and how I can help you.</p>
  </div>
</section>
<section >
	<div class="ptf--container">
      
      
      <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/edwin-caceressilva/30min" style="min-width:320px;height:650px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
      
	</div>

</section>
<hr>



{{/post}}
